# feedparser is only if you want to scrape arxiv
feedparser
numpy
scipy

# sciki-learn is only for sparse arrays
scikit-learn

# twitter
python-twitter
pytz

# the following are only for serve.py
python-dateutil
flask==1.1.4
Werkzeug==1.0.1
flask_limiter==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
itsdangerous==1.1.0
click==7.1.2
tornado
pymongo
